<div class="jumbotron">
  <h1>What to play?</h1>
  <hr>
  <p>Please add video games that you'd like to play to the list below. This application will help you
  keep track of your gaming backlog!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">

        <form action="/" class="input-group row" method="post">
          <input type="text" name="entry" class="form-control form-control-lg" placeholder="Name">
          <input type="text" name="genre" class="form-control form-control-lg" placeholder="Genre">
          <button type="submit" class="col-md-12 btn btn-primary" type="button">Add to list</button>
        </form>

    </div>
    <div class="col-md-6">
      <blockquote cite="https://www.brainyquote.com/quotes/authors/s/shigeru_miyamoto.html">
        <p>The obvious objective of video games is to entertain people by surprising them with new experiences.</p>
        <a href="http://nintendo.wikia.com/wiki/Shigeru_Miyamoto">Shigeru Miyamoto</a>
      </blockquote>
    </div>
  </div>
</div>

<br>
<br>


    {{#each entry}}
    <div class="col-md-4 well text-center">
    <br>
    <h2><strong>{{game}}</strong></h2>
    <h3>Genre: {{genre}}</h3>
    <br>
    <a href="/{{_id}}/delete" class="col-md-12 btn btn-danger">Remove</a>
    <br>
    <br>
    <a href="/{{_id}}/update" class="col-md-12 btn btn-danger">Update</a>
    <br>
    </div>
    {{/each}}
